<appSettings>
  <add key="FacebookAppId" value="771369703002868"/>
  <add key="FacebookAppSecret" value="df61080828da974c7332b07c3875d993"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>